body {
    background-color: #0048FF;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
header {
    background-image: linear-gradient(#00F6FF, #0048FF);
    padding: 5px 0 100px 0;
    position: relative;
}

h1,h2,nav {
text-align: center;
}
a {
    text-decoration: none;
    color:black;
    margin: 0 30px 5px 30px;
    display: inline;
    border: 2px solid black;
    padding: 5px;
    background-color: #229FDA;
    border-radius: 30px;
    text-align: center;
}
h1 {
    margin: 50px;
}
nav {
    display: flex;
    flex-wrap: wrap;
}
img {
    border-radius: 50%;
    border: 5px solid royalblue;
}

footer {
    border: 3px solid black;
    background-color: blue;
    position: absolute;
    bottom: 0;
}